
<div class="row col-12">
  <div class="col-md-5 col-xs-11 mx-auto">
    <table class="table">
      <tbody>
        <tr>
          <td><strong><%= t(:name) %> :</strong></td>
          <td><%= student.name %></td>
        </tr>

        <tr>
          <td><strong><%= t(:lastname) %> :</strong></td>
          <td><%= student.lastname %></td>
        </tr>

        <tr>
          <td><strong><%= t(:university) %> :</strong></td>
          <td><%= student.university %></td>
        </tr>

        <tr>
          <td><strong><%= t(:career) %> :</strong></td>
          <td><%= student.career %></td>
        </tr>

        <tr>
          <td><strong><%= t(:year) %> :</strong></td>
          <td><%= student.year %></td>
        </tr>

        <tr>
          <td><strong>Región :</strong></td>
          <td><%= student.region %></td>
        </tr>

        <tr>
          <td><strong><%= t(:commune) %> :</strong></td>
          <td><%= student.commune %></td>
        </tr>

        <tr>
          <td><strong> <%= t(:phone) %> :</strong></td>
          <td>+56 <%= student.phono %></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
