<div class="container">
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
      <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">      
        <%= image_tag("nuevopaciente_cl.png", width: 250) %>
      </a>
      <% if student_signed_in? %>
        <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
        
            <% if (current_student.name.nil?) %>              
              <li class="mx-4 my-2"><%= link_to t(:my_account), edit_student_path(current_student.id), :class => 'btn btn-primary navbar-link' %></li>              
            <% else %>              
              <li class="mx-4 my-2"><%= link_to t(:my_account), posts_path, :class => 'btn btn-primary navbar-link' %></li>              
            <% end %>
            <li class="mx-4 my-2"><%= button_to(t(:sign_out), destroy_student_session_path, method: :delete, class: 'btn btn-danger') %></li>
        </ul>
      <% else %>  
        <div class="col-md-3 text-end">
            <%= link_to "Entrar", new_student_session_path, :class => 'navbar-link btn btn-outline-dark me-2'  %>
            <%= link_to "Registrarse", new_student_registration_path, :class => 'navbar-link btn btn-dark'  %>   
        <% end %>  
      </div>
    </header>
</div>