<div class="row">
  <div class="col-10 mb-5">
    <h3><%= t(:publications) %> <%= current_student.email %></h3>
  </div>   
<div>
<div class="row">
  <div class="col-md-7">
    <%= form_for @image, url: upload_image_student_path(current_student) do |f| %>
      <%= f.file_field :image %>
      <%= f.submit t(:upload_image) %>
    <% end %>
  </div>
  <div class="col-md-2">
    <% if @profile_image&.url %>
      <%= link_to t(:view_image), @profile_image&.url, target: "_blank" %>
    <% end %>
  </div>
</div>
<hr/>
<div id="posts">
  <table class="table table-striped">
  <thead>
  <tr>   
    <th scope="col">Publicación:</th>
    <th scope="col">Fecha:</th>
    <th scope="col">Acción:</th>
  </tr>
  </thead>    
    <% count_posts = 0 %>
    <% @poststu.each do |post| %>
      <% if student_signed_in? %>
        <% if (post.id == current_student.id) %>          
          <tbody>
            <tr>              
              <td><%= truncate(post.body) %>
              <td><%= post.created_at.strftime("%d/%m/%Y") %></td>
              <td><%= link_to "Ver", post_path(post.post_id) %></td>
              <% count_posts = count_posts + 1 %>
            </tr>
          </tbody> 
        <% end %>
      <% end %>
    <% end %>
  </table>
</div>
<br><br><br>
<% if student_signed_in? %> 
  <% if count_posts < 3 %>
    <div class="row my-2">
      <div class="col-md-4 col-xs-10 my-2">
        <%= link_to t(:new_publication), new_post_path(current_student.id), class:"btn btn-success mx-3" %>
      </div>
    </div>
  <% end %>  
  <div class="row col-12 mt-2">
    <div class="col-md-2 my-2">
      <%= link_to 'Editar usuario', edit_student_path(current_student.id), :class => 'btn btn-primary navbar-link mx-3' %>
    </div>
    <div class="col-md-2 my-2">
      <%= link_to 'Editar e-mail', edit_student_registration_path, :class => 'btn btn-primary navbar-link mx-3' %>
    </div>   
  </div>  
  <% if count_posts >= 3 %>
    <div class="row col-md-8 col-xs-12 my-2 mx-auto">
      <div class="col-md-8 col-xs-12 text-center mx-auto">
      <h4 class="text-danger">Haz alcanzado el número máximo de publicaciones activas. Puedes eliminar una para realizar otra nueva.</h4>
      </div>
    </div>
  <% end %>    
<% end %>